<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">        
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/perguntas">Perguntar</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cadastro">Cadastro</a>
          </li>     
        </ul>
      </div>
    </div>
  </nav>