
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praticando Node</title>
</head>
<body>
    <h1>Criando Perguntas com Node.js com Express</h1>
    <h2> Desenvolvedor: <%= nome %> </h2> <!-- Importando as variaveis do back para o front-->
    <h2> <%= skills %> </h2>
</body>
</html>