<%- include('partials/header') %>

<%- include('partials/navbar') %>

<body>


    
    <div class="container">
        <div class="card" id="formulario-perguntas">
            <div class="card-header">
                <h1 class="title">Realiza o seu Login</h1>
            </div>
            <div class="card-body">
                <form action="/process_login" method="POST">
                    <div class="mb-3">
                        <label for="text" class="form-label">Email: </label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>              
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha: </label>
                        <input type="password" class="form-control" id="senha" name="senha">
                    </div>                                    
                    <button type="submit" class="btn btn-success">Logar</button>
                </form>
            </div>
        </div>

    </div>


</body>
<%- include('partials/footer') %>


</html>