<%- include('partials/header') %>

<%- include('partials/navbar') %>
<body>    
    <div class="container">
        <div class="card" id="formulario-perguntas">
            <div class="card-header">
                <h1 class="title">Realiza a sua Pergunta</h1>
            </div>
            <div class="card-body">
                <form action="/process_forms" method="POST">
                    <div class="mb-3">
                        <label for="text" class="form-label">Titulo da Pergunta</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="titulo">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Faça sua Pergunta</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Faça a sua pergunta" name="descricao"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Perguntar</button>
                </form>
            </div>
        </div>
    </div>   
</body>
<%- include('partials/footer') %>

